/* =============== HOME PAGE =============== */
.category-row {
	margin-bottom: 20px;
}

.category-parent {
	font-size: 1.3em;
	line-height: 1.5;
}

.category-child {
	margin-left: 5px;
	font-size: 0.9em;
	line-height: 1.5;
}

/* =============== SEARCH RESULTS PAGE =============== */

.search-results-meta {
	margin-bottom: 10px;
	font-size: 1.1em;
}

.result-item {
	display: block;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	background: #eee;
}

.result-item:hover {
	background: #ddd;
}

/* Override default link styles */
.result-item, .result-item:hover, .result-item:focus, .result-item:active {
	color: #333;
	text-decoration: none;
}

.result-item .item-thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 0;
}

.result-item .title {
	font-size: 2em;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.result-item .description {
	max-height: 140px;
	overflow: hidden;
}

.result-item .details {
	margin-right: 170px;
}

.result-item .store-info {
	position: absolute;
	bottom: 20px;
	left: 230px;
	font-size: 0.8em;
	color: #337ab7; /* Make it look like a link */
}

/* Make it look like a link */
.result-item .store-info:hover, .result-item .store-info:focus {
    color: #23527c;
    text-decoration: underline;
}

.result-item .price {
	float: right;
	width: 150px;
}

.result-item .discount-price {
	font-size: 3em;
	text-align: center;
}

.result-item .original-price-text {
	text-align: center;
}

@media (max-width: 767px) {
	.result-item .details {
		clear: both;
		padding-top: 20px;
		margin-right: 0;
	}

	.result-item .store-info {
		margin-top: 20px;
		position: static;
	}
}

@media (max-width: 450px) {
	.result-item {
		text-align: center;
	}

	.result-item .item-thumbnail {
		float: none;
		margin: 0 auto 20px;
	}

	.result-item .price {
		float: none;
		clear: both;
		display: table;
		width: 100%;
	}

	.result-item .prices {
		display: table-cell;
		vertical-align: middle;
		width: 45%;
	}

	.result-item .discount-percentage {
		display: table-cell;
	}

	.result-item .store-info {
		margin-top: 20px;
		position: static;
	}
}

/* =============== ITEM PAGE =============== */
.purchase-item {
	display: block;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
}

.purchase-item .item-thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.purchase-item .title {
	font-size: 2em;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.purchase-item .description {
}

.purchase-item .details {
	margin-right: 270px;
}

.purchase-item .store-info {
	position: absolute;
	bottom: 20px;
	left: 230px;
	font-size: 0.8em;
}

.purchase-item .price {
	clear: left;
	width: 150px;
}

.purchase-item .discount-price {
	font-size: 3em;
	text-align: center;
}

.purchase-item .original-price-text {
	text-align: center;
}

.purchase-item .pay-buttons {
	float: right;
	width: 250px;
	text-align: center;
}
.purchase-item #pay-now {
	margin: 0 !important;
}

.purchase-item .map-panel-container {
	clear: left;
	margin-right: 270px;
}

.purchase-item .price {
	float: right;
	clear: right;
	width: 250px;
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 767px) {
	.purchase-item .pay-buttons {
		float: left;
		clear: left;
		margin-top: 20px;
		width: 200px;
	}

	.purchase-item .details {
		margin-right: 0;
	}

	.purchase-item .map-panel-container {
		margin-right: 0;
		margin-top: 20px;
		float: left;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.purchase-item .item-thumbnail,
	.purchase-item .pay-buttons,
	.purchase-item .price {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.purchase-item .details,
	.purchase-item .map-panel-container {
		float: none;
	}

	.purchase-item .details {
		margin-top: 20px;
		width: 100%;
	}
}

/* =============== COMMON =============== */
.discount-percentage-badge {
	width: 120px;
	height: 100px;
	line-height: 100px;
	margin: 10px auto 0;
	text-align: center;
	border-radius: 20px;
	background: #F57D14;
	color: #fff;
}

.discount-percentage-badge-wrapper {
	vertical-align: middle;
	display: inline-block;
}

.discount-percentage-badge-number {
	font-size: 40px;
	line-height: 1;
}

.discount-percentage-badge-off {
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
}

.leaflet-popup-content {
	max-height: 150px;
	width: 300px;
	overflow: auto;
}

.leaflet-popup-item {
	float: left;
	clear: left;
}

.leaflet-popup-item-image {
	float: left;
	clear: left;
}

.leaflet-popup-item-name {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.leaflet-popup-item-price {
	color: #333;
}

.map-panel {
	position: relative;
	margin-bottom: 20px;
}
.map-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: rgba(255,255,255,0.5);
	z-index: 1;
	cursor: pointer;

	text-align: center;
	color: #fff;
	font-size: 1.5em;
	line-height: 50px;
	text-shadow: 0 0 10px #000;
}