/* =============== HOME PAGE =============== */
.category-row {
	margin-bottom: 20px;
}

.category-parent {
	font-size: 1.3em;
	line-height: 1.5;
}

.category-child {
	margin-left: 5px;
	font-size: 0.9em;
	line-height: 1.5;
}

/* =============== SEARCH RESULTS PAGE =============== */

.search-results-meta {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 1.1em;
}

.result-item {
	display: block;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	background: #eee;
}

.result-item:hover {
	background: #ddd;
}

/* Override default link styles */
.result-item, .result-item:hover, .result-item:focus, .result-item:active {
	color: #333;
	text-decoration: none;
}

.result-item .item-thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 0;
}

.result-item .title {
	font-size: 2em;
	font-weight: bold;
}

.result-item .store-info {
	position: absolute;
	bottom: 20px;
	left: 230px;
	font-size: 0.8em;
}

.result-item .price {
	float: right;
	width: 150px;
}

.result-item .discount-price {
	font-size: 3em;
}

.result-item .discount-percentage-badge {
	width: 120px;
	height: 100px;
	line-height: 100px;
	margin: 10px auto 0;
	text-align: center;
	font-size: 40px;
	border-radius: 20px;
	background: #F57D14;
	color: #fff;
}

@media (max-width: 767px) {
	.result-item .details {
		clear: both;
		padding-top: 20px;
	}

	.result-item .store-info {
		margin-top: 20px;
		position: static;
	}
}

@media (max-width: 450px) {
	.result-item {
		text-align: center;
	}

	.result-item .item-thumbnail {
		float: none;
		margin: 0 auto 20px;
	}

	.result-item .price {
		float: none;
		clear: both;
		display: table;
		width: 100%;
	}

	.result-item .prices {
		display: table-cell;
		vertical-align: middle;
		width: 45%;
	}

	.result-item .discount-percentage {
		display: table-cell;
	}

	.result-item .store-info {
		margin-top: 20px;
		position: static;
	}
}

/* =============== ITEM PAGE =============== */
.purchase-item {
	display: block;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
}

.purchase-item .item-thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 0;
}

.purchase-item .title {
	font-size: 2em;
	font-weight: bold;
}

.purchase-item .store-info {
	position: absolute;
	bottom: 20px;
	left: 230px;
	font-size: 0.8em;
}

.purchase-item .price {
	clear: left;
	width: 150px;
	padding-top: 20px;
}

.purchase-item .discount-price {
	font-size: 3em;
}

.purchase-item .discount-percentage-badge {
	width: 120px;
	height: 100px;
	line-height: 100px;
	margin-top: 10px;
	text-align: center;
	font-size: 40px;
	border-radius: 20px;
	background: #F57D14;
	color: #fff;
}

.purchase-item .pay-buttons {
	float: right;
	width: 250px;
	text-align: center;
}
.purchase-item #pay-now {
	margin: 0 !important;
}

@media (max-width: 767px) {
	.purchase-item .pay-buttons {
		float: left;
		clear: left;
		margin-top: 20px;
		width: 200px;
	}
}

@media (max-width: 600px) {
	.purchase-item .details {
		clear: left;
		float: left;
		margin-top: 20px;
	}
}

/* trying to make things glossy */
.jumbotron {
	background-color: transparent;
}
